<h1>Update student</h1>
<%= form_for @student do |f| %>

<h1><%= f.label :first_name %>
<%= f.text_field :first_name %></h1>

<h1><%= f.label :last_name %>
<%= f.text_field :last_name %></h1>

<%= f.submit "Update Student"%>

<% end %>