<%= form_for @schoolclass do |f| %>

<h1><%= f.label :title %>
<%= f.text_field :title %></h1>

<h1><%= f.label :room_number %>
<%= f.number_field :room_number %></h1>

<%= f.submit "Submit Form"%>

<% end %>